<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>header</title>
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/app/bs3/css/bootstrap.min.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="canonical" href="https://paperwaffle.com/bbs/login.php?url=%2F">
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/css/plugin.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/css/theme.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/title/title-basic/title.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/skin/member/Nariya-Basic/style.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/footer/footer-basic/footer.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/sidebar/sidebar-basic/sidebar.css?ver=20210107_01">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/skin/social/style.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/js/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    
    
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/app/bs3/css/bootstrap.min.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/css/plugin.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/css/theme.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/footer/footer-basic/footer.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/sidebar/sidebar-basic/sidebar.css?ver=20210107_01">
        <link rel="stylesheet" href="https://paperwaffle.com/js/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/swiper/dist/css/swiper.min.css?ver=01">
        <script src="https://paperwaffle.com/theme/Nariya-Basic/_JS/swiper/dist/js/swiper.min.js?ver=01"></script>
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/common.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/animation.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/layout.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/custom.css?ver=2022-10-07-a4">
        <script src="https://paperwaffle.com/plugin/nariya/js/common.js?ver=2022-10-07-a4"></script>
        <script src="https://paperwaffle.com/js/wrest.js?ver=2022-10-07-a4"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&amp;display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&amp;display=swap"
            rel="stylesheet">
    </head>
    
<body>
    
    
    <div id="wrap-req" class="cf">
    
      <div id="top-profile">
        <div class="user-bg">
          <div style="background-image:url('/img/n/profile_bg.jpg')"></div>
        </div>
        <div class="profile tablize">
          <div class="img"><div style="background-image:url('https://paperwaffle.com/img/temp/temp_pic.jpg');"></div></div>
          <div class="txt">
            <table>
              <tbody>
                <tr>
                  <td>닉네임</td>
                  <td>###</td>
                </tr>
                <tr>
                  <td>한마디</td>
                  <td>##</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    
      <div id="content-req">
    
    
    
        <div class="tabArea tab-design-type1 un-a">
          <ul class="tablize">
            <li class="on"><a href="#">팬 가입 안내</a></li>
            <li ><a href="#">팬 등급 별 보상 설정</a></li>
          </ul>
        </div>
    
    
    
        <div class="table2">
          <table>
            <colgroup>
              <col style="width:15%;">
              <col style="width:auto;">
            </colgroup>
            <tbody>
              <tr>
                <td colspan="2">
                  <textarea name="name" rows="8" cols="80" readonly>읽기전용</textarea>
                </td>
              </tr>
              <tr>
                <td class="top">작가특징</td>
                <td>
                  <textarea name="name" rows="8" cols="80" readonly>읽기전용</textarea>
                </td>
              </tr>
              <tr>
                <td class="top">팬보상</td>
                <td>
                  <textarea name="name" rows="8" cols="80" readonly>읽기전용</textarea>
                </td>
              </tr>
              <tr>
                <td class="top">상세설명</td>
                <td>
                  <textarea name="name" rows="8" cols="80" readonly>읽기전용</textarea>
                </td>
              </tr>
            </tbody>
          </table>
    
        </div>
    
    
    
    
        <div class="pc-only">
          <div class="btnArea tablize center">
            <button class="btn_type_02 sizeM">가입하기</button>
            <button class="btn_type_01 sizeM">취소하기</button>
          </div>
        </div>
    
    
    
    
    
    
    
    
    
    
      </div>
      <div id="aside-req">
    
        <div class="add-req">
          <table>
            <thead>
              <tr>
                <th colspan="2">일반팬
                  <label for="" class="r">
                    <button class="btn_type_01 delete radius50"><i class="xi-close"></i></button>
                  </label>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="top"><label><input name="" type="checkbox" value=""></label></td>
              <td><textarea name="" id="" cols="30" rows="2" readonly>한줄설명</textarea></td>
            </tr>
            <tr>
              <td class="top"><label><input name="" type="checkbox" value=""></label></td>
              <td><textarea name="" id="" cols="30" rows="4" readonly>한줄 보상안내</textarea></td>
            </tr>
    
          </table>
        </div>
    
        <div class="add-req">
          <table>
            <thead>
              <tr>
                <th colspan="2">고급팬
                  <label for="" class="r">
                    <button class="btn_type_01 delete radius50"><i class="xi-close"></i></button>
                  </label>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="top"><label><input name="" type="checkbox" value=""></label></td>
              <td><textarea name="" id="" cols="30" rows="2" readonly>한줄설명</textarea></td>
            </tr>
            <tr>
              <td class="top"><label><input name="" type="checkbox" value=""></label></td>
              <td><textarea name="" id="" cols="30" rows="4" readonly>한줄 보상안내</textarea></td>
            </tr>
    
          </table>
        </div>
    
        <div class="add-req">
          <table>
            <thead>
              <tr>
                <th colspan="2">열혈팬
                  <label for="" class="r">
                    <button class="btn_type_01 delete radius50"><i class="xi-close"></i></button>
                  </label>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="top"><label><input name="" type="checkbox" value=""></label></td>
              <td><textarea name="" id="" cols="30" rows="2" readonly>한줄설명</textarea></td>
            </tr>
            <tr>
              <td class="top"><label><input name="" type="checkbox" value=""></label></td>
              <td><textarea name="" id="" cols="30" rows="4" readonly>한줄 보상안내</textarea></td>
            </tr>
    
          </table>
        </div>
    
    
        <div class="mo-only">
          <div class="btnArea tablize center">
            <button class="btn_type_02 sizeM">가입하기</button>
            <button class="btn_type_01 sizeM">취소하기</button>
          </div>
        </div>
    
    
    
      </div>
    
    
    
    
    
    </div>
    
    
    
    
    
    
    
    
    
    



</body>
</html>