<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>header</title>
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/app/bs3/css/bootstrap.min.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="canonical" href="https://paperwaffle.com/bbs/login.php?url=%2F">
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/css/plugin.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/css/theme.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/title/title-basic/title.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/skin/member/Nariya-Basic/style.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/footer/footer-basic/footer.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/sidebar/sidebar-basic/sidebar.css?ver=20210107_01">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/skin/social/style.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/js/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    
    
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/app/bs3/css/bootstrap.min.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/css/plugin.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/css/theme.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/footer/footer-basic/footer.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/sidebar/sidebar-basic/sidebar.css?ver=20210107_01">
        <link rel="stylesheet" href="https://paperwaffle.com/js/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/swiper/dist/css/swiper.min.css?ver=01">
        <script src="https://paperwaffle.com/theme/Nariya-Basic/_JS/swiper/dist/js/swiper.min.js?ver=01"></script>
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/common.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/animation.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/layout.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/custom.css?ver=2022-10-07-a4">
        <script src="https://paperwaffle.com/plugin/nariya/js/common.js?ver=2022-10-07-a4"></script>
        <script src="https://paperwaffle.com/js/wrest.js?ver=2022-10-07-a4"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&amp;display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&amp;display=swap"
            rel="stylesheet">
    </head>
    
<body>

    
    <div id="wrap-req" class="cf">

    <div id="top-profile">
      <div class="user-bg">
        <div style="background-image:url('/img/n/profile_bg.jpg')"></div>
      </div>
      <div class="profile tablize">
        <div class="img"><div style="background-image:url('https://paperwaffle.com/img/temp/temp_pic.jpg');"></div></div>
        <div class="txt">
          <table>
            <tbody>
              <tr>
                <td>닉네임</td>
                <td>###</td>
              </tr>
              <tr>
                <td>한마디</td>
                <td>##</td>
              </tr>
              <tr>
                <td>와플</td>
                <td>### 개</td>
              </tr>
              <tr>
                <td colspan="2"><a href="#">관리/수정</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div id="content-req">
      <div class="tabArea tab-design-type2 grid3">
        <ul class="tablize">
          <li js-alt="manage-board"><a href="#">게시판 설정</a></li>
          <li js-alt="manage-request" class="on"><a href="#">의뢰관리</a></li>
          <li js-alt="manage-precious"><a href="#">작품관리</a></li>
        </ul>
      </div>
  
      <div class="tabArea tab-design-type1 un-a">
        <ul class="tablize">
          <li><a href="#">의뢰등록</a></li>
          <li class="on"><a href="#">의로관리</a></li>
        </ul>
      </div>
  
  
      <div class="manage-list-Area">
  
        <div class="cate right">
          <select name="" id="">
            <option value="">전체</option>
          </select>
        </div>
  
        <div class="item tablize">
          <div class="img">
            <div style="background-image:url('https://paperwaffle.com/img/temp/temp_pic.jpg');"></div>
          </div>
          <div class="txt">
            <div class="nick">닉네임</div>
            <div class="add-text">한줄요약</div>
            <div class="status "><span>승인 대기중</span></div>
          </div>
          <div class="req">
            기본 의뢰
          </div>
          <div class="btnArea right">
            <button class="btn_type_02 sizeS">자세히 보기</button>
            <button class="btn_type_03 sizeS">거절하기</button>
          </div>
        </div>
  
        <div class="item tablize">
          <div class="img">
            <div style="background-image:url('https://paperwaffle.com/img/temp/temp_pic.jpg');"></div>
          </div>
          <div class="txt">
            <div class="nick">닉네임</div>
            <div class="add-text">한줄요약</div>
            <div class="status "><span>승인 대기중</span></div>
          </div>
          <div class="req">
            기본 의뢰
          </div>
          <div class="btnArea right">
            <button class="btn_type_02 sizeS">자세히 보기</button>
            <button class="btn_type_03 sizeS">거절하기</button>
          </div>
        </div>
  
        <div class="item tablize">
          <div class="img">
            <div style="background-image:url('https://paperwaffle.com/img/temp/temp_pic.jpg');"></div>
          </div>
          <div class="txt">
            <div class="nick">닉네임</div>
            <div class="add-text">한줄요약</div>
            <div class="status "><span>승인 대기중</span></div>
          </div>
          <div class="req">
            기본 의뢰
          </div>
          <div class="btnArea right">
            <button class="btn_type_02 sizeS">자세히 보기</button>
            <button class="btn_type_03 sizeS">거절하기</button>
          </div>
        </div>
  
        <div class="item tablize">
          <div class="img">
            <div style="background-image:url('https://paperwaffle.com/img/temp/temp_pic.jpg');"></div>
          </div>
          <div class="txt">
            <div class="nick">닉네임</div>
            <div class="add-text">한줄요약</div>
            <div class="status "><span>승인 대기중</span></div>
          </div>
          <div class="req">
            기본 의뢰
          </div>
          <div class="btnArea right">
            <button class="btn_type_02 sizeS">자세히 보기</button>
            <button class="btn_type_03 sizeS">거절하기</button>
          </div>
        </div>
  
        <div class="item tablize">
          <div class="img">
            <div style="background-image:url('https://paperwaffle.com/img/temp/temp_pic.jpg');"></div>
          </div>
          <div class="txt">
            <div class="nick">닉네임</div>
            <div class="add-text">한줄요약</div>
            <div class="status "><span>승인 대기중</span></div>
          </div>
          <div class="req">
            기본 의뢰
          </div>
          <div class="btnArea right">
            <button class="btn_type_02 sizeS">자세히 보기</button>
            <button class="btn_type_03 sizeS">거절하기</button>
          </div>
        </div>
  
      </div>
  
  
  
      <div class="na-page pg- text-center">
              <ul class="pagination pagination-sm en no-margin">
                  <li class="disabled"><a><i class="fa fa-angle-double-left"></i></a></li>
          <li class="disabled"><a><i class="fa fa-angle-left"></i></a></li>
          <li class="active"><a>1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li class="disabled"><a><i class="fa fa-angle-right"></i></a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
          </div>
  
  
  
    </div>
  
    <div id="aside-req">
  
      <div class="add-req">
        <table>
          <thead>
            <tr>
              <th colspan="2">기본의뢰</th>
            </tr>
          </thead>
          <tr>
            <td colspan="2">의뢰를 등록해보세요 !</td>
          </tr>
        </table>
      </div>
  
      <div class="add-req">
        <table>
          <thead>
            <tr>
              <th colspan="2">고급</th>
            </tr>
          </thead>
          <tr>
            <td><label><input name="" type="checkbox" value=""></label></td>
            <td>(상업용)</td>
          </tr>
          <tr>
            <td><label><input name="" type="checkbox" value=""></label></td>
            <td>수정횟수 <span>##</span>회</td>
          </tr>
          <tr>
            <td><label><input name="" type="checkbox" value=""></label></td>
            <td>제작금액 <span>##</span>와플</td>
          </tr>
          <tr>
            <td><label><input name="" type="checkbox" value=""></label></td>
            <td rowspan="3">(한줄내용)</td>
          </tr>
        </table>
      </div>
  
      <div class="add-req">
        <table>
          <thead>
            <tr>
              <th colspan="2">프리미엄</th>
            </tr>
          </thead>
          <tr>
            <td><label><input name="" type="checkbox" value=""></label></td>
            <td>(상업용)</td>
          </tr>
          <tr>
            <td><label><input name="" type="checkbox" value=""></label></td>
            <td>수정횟수 <span>##</span>회</td>
          </tr>
          <tr>
            <td><label><input name="" type="checkbox" value=""></label></td>
            <td>제작금액 <span>##</span>와플</td>
          </tr>
          <tr>
            <td><label><input name="" type="checkbox" value=""></label></td>
            <td rowspan="3">(한줄내용)</td>
          </tr>
        </table>
      </div>
  
      <div class="add-req">
        <table>
          <thead>
            <tr>
              <th colspan="2">팬 전용</th>
            </tr>
          </thead>
          <tr>
            <td><label><input name="" type="checkbox" value=""></label></td>
            <td>(상업용)</td>
          </tr>
          <tr>
            <td><label><input name="" type="checkbox" value=""></label></td>
            <td>수정횟수 <span>##</span>회</td>
          </tr>
          <tr>
            <td><label><input name="" type="checkbox" value=""></label></td>
            <td>제작금액 <span>##</span>와플</td>
          </tr>
          <tr>
            <td><label><input name="" type="checkbox" value=""></label></td>
            <td rowspan="3">(한줄내용)</td>
          </tr>
        </table>
      </div>
  
    </div>
  
  
  
  
  
  
    </div>
  
  
  
  
</body>
</html>