<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>header</title>
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/app/bs3/css/bootstrap.min.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="canonical" href="https://paperwaffle.com/bbs/login.php?url=%2F">
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/css/plugin.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/css/theme.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/title/title-basic/title.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/skin/member/Nariya-Basic/style.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/footer/footer-basic/footer.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/sidebar/sidebar-basic/sidebar.css?ver=20210107_01">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/skin/social/style.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/js/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    
    
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/app/bs3/css/bootstrap.min.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/css/plugin.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/css/theme.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/footer/footer-basic/footer.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/sidebar/sidebar-basic/sidebar.css?ver=20210107_01">
        <link rel="stylesheet" href="https://paperwaffle.com/js/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/swiper/dist/css/swiper.min.css?ver=01">
        <script src="https://paperwaffle.com/theme/Nariya-Basic/_JS/swiper/dist/js/swiper.min.js?ver=01"></script>
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/common.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/animation.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/layout.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/custom.css?ver=2022-10-07-a4">
        <script src="https://paperwaffle.com/plugin/nariya/js/common.js?ver=2022-10-07-a4"></script>
        <script src="https://paperwaffle.com/js/wrest.js?ver=2022-10-07-a4"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&amp;display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&amp;display=swap"
            rel="stylesheet">
    </head>
    
<body>
    

    <div id="wrap-req" class="cf">

        <div id="top-profile">
          <div class="user-bg">
            <div style="background-image:url('/img/n/profile_bg.jpg')"></div>
          </div>
          <div class="profile tablize">
            <div class="img"><div style="background-image:url('https://paperwaffle.com/img/temp/temp_pic.jpg');"></div></div>
            <div class="txt">
              <table>
                <tbody>
                  <tr>
                    <td>닉네임</td>
                    <td>###</td>
                  </tr>
                  <tr>
                    <td>한마디</td>
                    <td>##</td>
                  </tr>
                  <tr>
                    <td>와플</td>
                    <td>### 개</td>
                  </tr>
                  <tr>
                    <td colspan="2"><a href="#">관리/수정</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      
        <div id="content-req" class="w100">
      
          <div class="tabArea tab-design-type2 grid3">
            <ul class="tablize">
              <li class="on"><a href="#">충전하기</a></li>
              <li><a href="#">광고등록</a></li>
              <li><a href="#">결제내역</a></li>
            </ul>
          </div>
      
      
          <div class="tabArea tab-design-type1 un-a">
            <ul class="tablize">
              <li class="on"><a href="#">와플충전</a></li>
              <li><a href="#">출금신청</a></li>
              <li><a href="#">광고등록</a></li>
            </ul>
          </div>
      
      
          <div class="waffle-wrap">
            <div class="tablize">
              <div class="item w100">
                <div class="way tablize">
                  <span class="top">와플자동충전 <span class="ico">BEST</span></span>
                  <span class="img"><img src="<?php echo G5_THEME_URL;?>/img/n/ico-waffle.png" alt=""></span>
                  <span class="txt"><i class="xi-close-thin"></i><b>10</b><i class="xi-plus-thin"></i><b>20</b></span>
                  <span class="price"><span class="ico">+ 20%</span><b>10,000</b></span>
                </div>
              </div>
      
              <div class="item">
                <div class="way tablize">
                  <span class="img"><img src="<?php echo G5_THEME_URL;?>/img/n/ico-waffle.png" alt=""></span>
                  <span class="txt"><i class="xi-close-thin"></i><b>10</b></span>
                </div>
              </div>
      
              <div class="item">
                <div class="way tablize">
                  <span class="img"><img src="<?php echo G5_THEME_URL;?>/img/n/ico-waffle.png" alt=""></span>
                  <span class="txt"><i class="xi-close-thin"></i><b>30</b></span>
                </div>
              </div>
      
              <div class="item">
                <div class="way tablize">
                  <span class="img"><img src="<?php echo G5_THEME_URL;?>/img/n/ico-waffle.png" alt=""></span>
                  <span class="txt"><i class="xi-close-thin"></i><b>40</b></span>
                </div>
              </div>
      
              <div class="item">
                <div class="way tablize">
                  <span class="img"><img src="<?php echo G5_THEME_URL;?>/img/n/ico-waffle.png" alt=""></span>
                  <span class="txt"><i class="xi-close-thin"></i><b>50</b></span>
                </div>
              </div>
      
              <div class="item">
                <div class="way tablize">
                  <span class="img"><img src="<?php echo G5_THEME_URL;?>/img/n/ico-waffle.png" alt=""></span>
                  <span class="txt"><i class="xi-close-thin"></i><b>100</b></span>
                </div>
              </div>
      
              <div class="item">
                <div class="way tablize">
                  <span class="img"><img src="<?php echo G5_THEME_URL;?>/img/n/ico-waffle.png" alt=""></span>
                  <span class="txt"><i class="xi-close-thin"></i><b>200</b></span>
                </div>
              </div>
      
              <div class="item">
                <div class="way tablize">
                  <span class="img"><img src="<?php echo G5_THEME_URL;?>/img/n/ico-waffle.png" alt=""></span>
                  <span class="txt"><i class="xi-close-thin"></i><b>300</b></span>
                </div>
              </div>
      
              <div class="item">
                <div class="way tablize">
                  <span class="img"><img src="<?php echo G5_THEME_URL;?>/img/n/ico-waffle.png" alt=""></span>
                  <span class="txt"><i class="xi-close-thin"></i><b>500</b></span>
                </div>
              </div>
      
      
      
            </div>
          </div>
      
      
      
      
      
          <div class="adv-02">
      
            <div class="purchase">
      
      
              <div class="content">
      
      
                <div class="pur-table">
                  <table>
                    <colgroup>
                      <col style="width:20%;">
                      <col style="width:80%;">
                    </colgroup>
                    <tbody>
                      <tr>
                        <td>쿠폰적용</td>
                        <td>
                          <input type="text" disabled class="w50"> <button class="btn_type_01">쿠폰확인</button>
                        </td>
                      </tr>
                      <tr>
                        <td>적용 할인가</td>
                        <td>
                          <input type="text" placeholder="#### 원" class="w50">
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" class="center">
                          <div class="totalPrice">
                            총 결제금액
      
                            <div class="discount">
                              <div class="tablize">
                                <span class="price first">####원</span>
                                <span class="price last">####원</span>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
      
                  <div class="btnArea tablize center">
                    <button class="btn_type_02 sizeM">결제하기</button>
                  </div>
      
                </div>
      
      
      
      
      
              </div>
      
      
      
      
      
      
            </div>
      
            <div class="warnArea">
              <h2>유의 사항</h2>
              <p>
                - 와플 충전은 10개 이상이어야 충전 신청이 가능하며 최대 건당 900개 하루 최대 5000개 까지 충전 가능합니다.<br>
                - 비실명 계정은 충전을 할 수 없습니다. 실명 인증 후 충전 신청 가능합니다.<br>
                - 충전된 와플의 유효기간은 충전일시로 부터 3년이며, 충전 후 3년이 지난 와플 환수처리 됩니다.<br>
                - 법정 대리인의 동의 없는 미성년자의 결제는 취소될 수 있습니다.<br>
                - 매월 최대 1,000,000원까지만 결제 가능합니다.<br>
                - 와플 충전 및 간편 결제에 관한 사항은 이용 약관(링크)를 확인해 주세요.<br>
                - 이용 중 도움이 필요하시면 1:1 문의로 문의해 주세요.
              </p>
      
            </div>
      
      
          </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
        </div>
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
  
</body>
</html>