<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>header</title>
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/app/bs3/css/bootstrap.min.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="canonical" href="https://paperwaffle.com/bbs/login.php?url=%2F">
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/css/plugin.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/css/theme.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/title/title-basic/title.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/skin/member/Nariya-Basic/style.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/footer/footer-basic/footer.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/sidebar/sidebar-basic/sidebar.css?ver=20210107_01">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/skin/social/style.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/js/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    
    
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/app/bs3/css/bootstrap.min.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/css/plugin.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/css/theme.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/footer/footer-basic/footer.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/sidebar/sidebar-basic/sidebar.css?ver=20210107_01">
        <link rel="stylesheet" href="https://paperwaffle.com/js/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/swiper/dist/css/swiper.min.css?ver=01">
        <script src="https://paperwaffle.com/theme/Nariya-Basic/_JS/swiper/dist/js/swiper.min.js?ver=01"></script>
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/common.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/animation.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/layout.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/custom.css?ver=2022-10-07-a4">
        <script src="https://paperwaffle.com/plugin/nariya/js/common.js?ver=2022-10-07-a4"></script>
        <script src="https://paperwaffle.com/js/wrest.js?ver=2022-10-07-a4"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&amp;display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&amp;display=swap"
            rel="stylesheet">
    </head>
    
<body>
    


    <div id="wrap-req" class="cf">

        <div id="top-profile">
          <div class="user-bg">
            <div style="background-image:url('/img/n/profile_bg.jpg')"></div>
          </div>
          <div class="profile tablize">
            <div class="img"><div style="background-image:url('https://paperwaffle.com/img/temp/temp_pic.jpg');"></div></div>
            <div class="txt">
              <table>
                <tbody>
                  <tr>
                    <td>닉네임</td>
                    <td>###</td>
                  </tr>
                  <tr>
                    <td>한마디</td>
                    <td>##</td>
                  </tr>
                  <tr>
                    <td>와플</td>
                    <td>### 개</td>
                  </tr>
                  <tr>
                    <td colspan="2"><a href="#">관리/수정</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      
        <div id="content-req" class="w100">
      
          <div class="tabArea tab-design-type2 grid3">
            <ul class="tablize">
              <li><a href="#">충전하기</a></li>
              <li><a href="#">광고등록</a></li>
              <li class="on"><a href="#">결제내역</a></li>
            </ul>
          </div>
      
      
      
              <div class="wrap01">
                  <h2 class="title-17">내 구매 현황</h2>
      
                  <div class="box-5-Area">
                      <table>
                          <tbody>
                              <tr>
                                  <td><h4>와플 자동충전</h4></td>
                                  <td>
                                      <button class="btn_type_03 sizeS">해지하기</button>
                                      <span class="switchArea">
                                          <b>OFF</b>
                                          <label class="js-switch">
                                            <input type="checkbox">
                                            <span class="js-slider blue" id="round"></span>
                                          </label>
                                          <b>ON</b>
                                      </span>
                                  </td>
                              </tr>
                              <tr>
                                  <td><h4>프리미엄 광고</h4></td>
                                  <td>
                                      * 남은기간 : ##일
                                      <span class="switchArea">
                                          <b>OFF</b>
                                          <label class="js-switch">
                                            <input type="checkbox">
                                            <span class="js-slider blue" id="round"></span>
                                          </label>
                                          <b>ON</b>
                                      </span>
                                  </td>
                              </tr>
                              <tr>
                                  <td><h4>외부 광고</h4></td>
                                  <td>
                                      * 남은기간 : ##일
                                      <span class="switchArea">
                                          <b>OFF</b>
                                          <label class="js-switch">
                                            <input type="checkbox">
                                            <span class="js-slider blue" id="round"></span>
                                          </label>
                                          <b>ON</b>
                                      </span>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
      
                  </div>
      
              </div>
      
          <div class="wrap01">
                  <h2 class="title-17">결제내역</h2>
      
              <div class="date-Area">
                <button class="btn_type_01 sizeS">전체</button>
                <input type="date"> ~ <input type="date">
                <button class="btn_type_01 sizeS">조회</button>
              </div>
      
              <div class="box-5-Area">
                  <table>
                      <tbody>
                          <tr>
                              <td>2022.05.08</td>
                              <td>코인 자동충전 등록</td>
                              <td>12,000원</td>
                              <td class="right">결제완료</td>
                          </tr>
                              <tr>
                              <td>2022.05.09</td>
                              <td>코인 30개 충전</td>
                              <td>3,000원</td>
                              <td class="right">결제완료</td>
                          </tr>
                              <tr>
                              <td>2022.05.09</td>
                              <td>프리미엄 광고 결제</td>
                              <td>5,900원</td>
                              <td class="right">결제완료</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
      
                  <div class="na-page pg- text-center">
                      <ul class="pagination pagination-sm en no-margin">
                          <li class="disabled"><a><i class="fa fa-angle-double-left"></i></a></li>
                          <li class="disabled"><a><i class="fa fa-angle-left"></i></a></li>
                          <li class="active"><a>1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#">6</a></li>
                          <li><a href="#">7</a></li>
                          <li><a href="#">8</a></li>
                          <li><a href="#">9</a></li>
                          <li class="disabled"><a><i class="fa fa-angle-right"></i></a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                      </ul>
                  </div>
          </div>
      
      
              <div class="wrap01">
                  <h2 class="title-17">의뢰내역</h2>
      
              <div class="date-Area">
                <button class="btn_type_01 sizeS">전체</button>
                <input type="date"> ~ <input type="date">
                <button class="btn_type_01 sizeS">조회</button>
              </div>
      
              <div class="box-5-Area">
                  <table>
                      <tbody>
                          <tr>
                              <td>2022.05.08</td>
                              <td>###님 리퀘스트완료</td>
                              <td>120개</td>
                              <td class="right">의뢰완료</td>
                          </tr>
                              <tr>
                              <td>2022.05.09</td>
                              <td>30개 충전</td>
                              <td>30개</td>
                              <td class="right">의뢰완료</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
      
                  <div class="na-page pg- text-center">
                      <ul class="pagination pagination-sm en no-margin">
                          <li class="disabled"><a><i class="fa fa-angle-double-left"></i></a></li>
                          <li class="disabled"><a><i class="fa fa-angle-left"></i></a></li>
                          <li class="active"><a>1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#">6</a></li>
                          <li><a href="#">7</a></li>
                          <li><a href="#">8</a></li>
                          <li><a href="#">9</a></li>
                          <li class="disabled"><a><i class="fa fa-angle-right"></i></a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                      </ul>
                  </div>
          </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
        </div>
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
  
</body>
</html>