<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>header</title>
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/app/bs3/css/bootstrap.min.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="canonical" href="https://paperwaffle.com/bbs/login.php?url=%2F">
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/css/plugin.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/css/theme.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/title/title-basic/title.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/skin/member/Nariya-Basic/style.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/footer/footer-basic/footer.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/sidebar/sidebar-basic/sidebar.css?ver=20210107_01">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/skin/social/style.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/js/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    
    
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/app/bs3/css/bootstrap.min.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/css/plugin.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/css/theme.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/footer/footer-basic/footer.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/sidebar/sidebar-basic/sidebar.css?ver=20210107_01">
        <link rel="stylesheet" href="https://paperwaffle.com/js/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/swiper/dist/css/swiper.min.css?ver=01">
        <script src="https://paperwaffle.com/theme/Nariya-Basic/_JS/swiper/dist/js/swiper.min.js?ver=01"></script>
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/common.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/animation.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/layout.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/custom.css?ver=2022-10-07-a4">
        <script src="https://paperwaffle.com/plugin/nariya/js/common.js?ver=2022-10-07-a4"></script>
        <script src="https://paperwaffle.com/js/wrest.js?ver=2022-10-07-a4"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&amp;display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&amp;display=swap"
            rel="stylesheet">
    </head>
    
<body>
    


    <div id="wrap-req" class="cf">

        <div id="top-profile">
          <div class="user-bg">
            <div style="background-image:url('/img/n/profile_bg.jpg')"></div>
          </div>
          <div class="profile tablize">
            <div class="img"><div style="background-image:url('https://paperwaffle.com/img/temp/temp_pic.jpg');"></div></div>
            <div class="txt">
              <table>
                <tbody>
                  <tr>
                    <td>닉네임</td>
                    <td>###</td>
                  </tr>
                  <tr>
                    <td>한마디</td>
                    <td>##</td>
                  </tr>
                  <tr>
                    <td>와플</td>
                    <td>### 개</td>
                  </tr>
                  <tr>
                    <td colspan="2"><a href="#">관리/수정</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      
        <div id="content-req" class="w100">
      
          <div class="tabArea tab-design-type2 grid3">
            <ul class="tablize">
              <li><a href="#">열혈팬</a></li>
              <li><a href="#">팬 가입 안내</a></li>
              <li class="on"><a href="#">통계</a></li>
            </ul>
          </div>
      
          <h2 class="title-17">통합현황</h2>
      
          <div class="date-Area">
            <button class="btn_type_01 sizeS">7일</button>
            <button class="btn_type_01 sizeS">14일</button>
            <button class="btn_type_01 sizeS">30일</button>
            <button class="btn_type_01 sizeS">3개월</button>
            <button class="btn_type_01 sizeS">6개월</button>
            <button class="btn_type_01 sizeS">12개월</button>
            <input type="date"> ~ <input type="date">
            <button class="btn_type_01 sizeS">조회</button>
          </div>
      
          <div class="box-4-Area tablize">
            <div class="item">
              <h3>방문자수</h3>
              <span>20</span>
            </div>
            <div class="item">
              <h3>방문자수</h3>
              <span>20</span>
            </div>
            <div class="item">
              <h3>방문자수</h3>
              <span>20</span>
            </div>
            <div class="item">
              <h3>방문자수</h3>
              <span>20</span>
            </div>
          </div>
      
          <div class="chartArea">
            <div class="item">
              <h3>방문자수</h3>
      
      
              <canvas id="myChart1" width="400" height="100"></canvas>
              <script>
              $(document).ready(function(){
                const labels = [
                  'January',
                  'February',
                  'March',
                  'April',
                  'May',
                  'June',
                ];
      
                const data = {
                  labels: labels,
                  datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 88, 45],
                  }]
                };
      
                const config = {
                  type: 'line',
                  data: data,
                  options: {}
                };
            const myChart = new Chart(
                document.getElementById('myChart1'),
                config
              );
              })
      
              </script>
      
      
            </div>
      
            <div class="item">
              <h3>팬가입 수</h3>
      
      
              <canvas id="myChart2" width="400" height="100"></canvas>
              <script>
              $(document).ready(function(){
                const labels = [
                  'January',
                  'February',
                  'March',
                  'April',
                  'May',
                  'June',
                ];
      
                const data = {
                  labels: labels,
                  datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [55, 10, 55, 12, 25, 30, 45],
                  }]
                };
      
                const config = {
                  type: 'line',
                  data: data,
                  options: {}
                };
            const myChart = new Chart(
                document.getElementById('myChart2'),
                config
              );
              })
      
              </script>
      
      
            </div>
      
            <div class="item">
              <h3>의뢰수</h3>
      
      
              <canvas id="myChart3" width="400" height="100"></canvas>
              <script>
              $(document).ready(function(){
                const labels = [
                  'January',
                  'February',
                  'March',
                  'April',
                  'May',
                  'June',
                ];
      
                const data = {
                  labels: labels,
                  datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [110, 150, 5, 2, 20, 30, 45],
                  }]
                };
      
                const config = {
                  type: 'line',
                  data: data,
                  options: {}
                };
            const myChart = new Chart(
                document.getElementById('myChart3'),
                config
              );
              })
      
              </script>
      
      
            </div>
      
            <div class="item">
              <h3>조회수</h3>
      
      
              <canvas id="myChart4" width="400" height="100"></canvas>
              <script>
              $(document).ready(function(){
                const labels = [
                  'January',
                  'February',
                  'March',
                  'April',
                  'May',
                  'June',
                ];
      
                const data = {
                  labels: labels,
                  datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 30, 45],
                  }]
                };
      
                const config = {
                  type: 'line',
                  data: data,
                  options: {}
                };
            const myChart = new Chart(
                document.getElementById('myChart4'),
                config
              );
              })
      
              </script>
      
      
            </div>
      
      
          </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
        </div>
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
  
</body>
</html>