<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>header</title>
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/app/bs3/css/bootstrap.min.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="canonical" href="https://paperwaffle.com/bbs/login.php?url=%2F">
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/css/plugin.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/css/theme.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/title/title-basic/title.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/skin/member/Nariya-Basic/style.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/footer/footer-basic/footer.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/sidebar/sidebar-basic/sidebar.css?ver=20210107_01">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/skin/social/style.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/js/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    
    
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/app/bs3/css/bootstrap.min.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/plugin/nariya/css/plugin.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/css/theme.css?ver=2022-10-07-a4"
            type="text/css">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/footer/footer-basic/footer.css?ver=2022-10-07-a4">
        <link rel="stylesheet"
            href="https://paperwaffle.com/theme/Nariya-Basic/layout/sidebar/sidebar-basic/sidebar.css?ver=20210107_01">
        <link rel="stylesheet" href="https://paperwaffle.com/js/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/swiper/dist/css/swiper.min.css?ver=01">
        <script src="https://paperwaffle.com/theme/Nariya-Basic/_JS/swiper/dist/js/swiper.min.js?ver=01"></script>
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/common.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/animation.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/layout.css?ver=2022-10-07-a4">
        <link rel="stylesheet" href="https://paperwaffle.com/theme/Nariya-Basic/_JS/custom.css?ver=2022-10-07-a4">
        <script src="https://paperwaffle.com/plugin/nariya/js/common.js?ver=2022-10-07-a4"></script>
        <script src="https://paperwaffle.com/js/wrest.js?ver=2022-10-07-a4"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&amp;display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&amp;display=swap"
            rel="stylesheet">
    </head>
    
<body>
    

  <div id="wrap-req" class="cf">

    <div id="top-profile">
      <div class="user-bg">
        <div style="background-image:url('/img/n/profile_bg.jpg')"></div>
      </div>
      <div class="profile tablize">
        <div class="img"><div style="background-image:url('https://paperwaffle.com/img/temp/temp_pic.jpg');"></div></div>
        <div class="txt">
          <table>
            <tbody>
              <tr>
                <td>닉네임</td>
                <td>###</td>
              </tr>
              <tr>
                <td>한마디</td>
                <td>##</td>
              </tr>
              <tr>
                <td>와플</td>
                <td>### 개</td>
              </tr>
              <tr>
                <td colspan="2"><a href="#">관리/수정</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div id="content-req" class="w100">
  
      <div class="tabArea tab-design-type2 grid3">
        <ul class="tablize">
          <li><a href="#">충전하기</a></li>
          <li><a href="#">광고등록</a></li>
          <li class="on"><a href="#">결제내역</a></li>
        </ul>
      </div>
  
  
  
      <div class="wrap01">
        <h2 class="title-17">출금신청</h2>
        <div class="box-5-Area">
          <table>
            <colgroup>
              <col style="width:50%;">
              <col style="width:50%;">
            </colgroup>
            <tbody>
              <tr>
                <td><h4>와플 자동충전</h4></td>
                <td>##개</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="box-5-Area">
          <table>
            <colgroup>
              <col style="width:50%;">
              <col style="width:50%;">
            </colgroup>
            <tbody>
              <tr>
                <td><h4>출금 희망 와플</h4></td>
                <td>##개</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="box-5-Area">
          <table>
            <colgroup>
              <col style="width:50%;">
              <col style="width:50%;">
            </colgroup>
            <tbody>
              <tr>
                <td><h4>예상 출금 금액</h4></td>
                <td>####원</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="wrap01">
  
      </div>
  
  
      <div class="wrap01">
        <h2 class="title-17">와플 사용 내역</h2>
  
        <div class="date-Area">
          <button class="btn_type_01 sizeS">전체</button>
          <input type="date"> ~ <input type="date">
          <button class="btn_type_01 sizeS">조회</button>
        </div>
  
        <div class="box-5-Area">
          <table>
            <tbody>
              <tr>
                <td>2022.05.08</td>
                <td>리퀘스트</td>
                <td>120개 </td>
                <td class="right">사용</td>
              </tr>
              <tr>
                <td>2022.05.08</td>
                <td>##님 후원</td>
                <td>30개 </td>
                <td class="right">사용</td>
              </tr>
              <tr>
                <td>2022.05.08</td>
                <td>###님의 후원</td>
                <td>30개 </td>
                <td class="right">입금</td>
              </tr>
              <tr>
                <td>2022.05.08</td>
                <td>와플출금</td>
                <td>500개 </td>
                <td class="right">출금</td>
              </tr>
              <tr>
                <td>2022.05.08</td>
                <td>와플구매</td>
                <td>100개 </td>
                <td class="right">입금</td>
              </tr>
  
            </tbody>
          </table>
        </div>
  
        <div class="na-page pg- text-center">
          <ul class="pagination pagination-sm en no-margin">
            <li class="disabled"><a><i class="fa fa-angle-double-left"></i></a></li>
            <li class="disabled"><a><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a>1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li class="disabled"><a><i class="fa fa-angle-right"></i></a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
          </ul>
        </div>
      </div>
  
  
      <div class="warnArea">
        <p>
  
        * 등록이 승인된 계좌로만 출금 신청이 가능합니다.<br>
        * 1일~15일에 출금을 신청하면 익월 15일에 정산이 완료되며, 16일~말일에 출금을 신청하면 익월 말일에 정산이 완료됩니다. (정산일이 휴일일 경우, 정산일 이후 영업일에 정산됩니다.)
        <br>
        * 이용약관에 따라, 코인과 캐쉬의 합계 금액이 10,000원 이상인 경우에만 출금이 가능합니다.<br><br>
        
        [개인의 경우 소득세 3%, 지방소득세 0.3% 총 3.3%를 원천징수하여 지급하며, 사업자 세금계산서 발행을 원하시는 경우 1:1문의로 별도 문의 바랍니다.]
  
  
  
  
        </p>
  
      </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    </div>
  
  
  
  
  
  
  </div>
  
  
  
  
      
      
      
      
      
      
      
      
      
      
      
  
</body>
</html>